
<%- include('navbar.ejs') %>
<%- include('sidebar.ejs') %>



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataCars</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataCars</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              
              

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DataCars with default features</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Rente</th>
                    <th>author</th>
                    <th>Image</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    
                  </tr>
                  </thead>
                  <tbody>
                <% for (let car of cars ) { %>
                  <tr>
                    <td><%= car._id %></td>
                    <td><%= car.title %></td>
                    <td>$<%= car.price %></td>
                    <td>$<%= car.rente %></td>
                    <td><%= car.author %></td>
                    <td><%= car.image %></td>
                    <td>
                      <a href="/carsTable/update/<%= car._id %>" >
                        <div class="btn btn-primary">Update</div>
                      </a>
                    
                     
                  </td>
                  <td>
                    <a href="/carsTable/delete/<%= car._id %>" >
                      <div class="btn btn-danger">Delete</div>
                    </a>
                  </td>
                  </tr>
                <% } %> 
                  </tbody>
                  <tfoot>
                
                  </tfoot>
                </table>
              </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>


  <%- include('footer.ejs') %>